.h2-admin {
    margin-top: -150px;
    margin-bottom: 80px;
    font-size: 200%;
}

.h2-admin-2 {
    margin-top: -100px;
    margin-bottom: 80px;
    font-size: 200%;
    margin-left: 30%;
}

.delete-admin-form {
    margin: 0;
    padding: 0;
    display: inline; 
}

th {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 200%;
    padding-right: 100px;
    padding-bottom: 20px;
}

td {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #3a3939;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.admin-role-selector {
    padding-top: -20px;
}

.role-text {
    padding-top: 15px;
}

.role-text-2 {
    padding-bottom: -15px;
}

.edit-button-admin {
    background-color: #46a6ff;
    color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 5px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button-admin {
    background-color: #f53a3a;
    color: white;
    font-weight: bold;
    font-size: 100%;
    padding: 5px;
    margin-left: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.error-message-admin {
    color: red;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.delete-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #ff4655;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 0; /* Retirer les marges */
    transition: background-color 0.3s;
    align-self: flex-start;
    border: none; /* Enlever toute bordure qui pourrait ajouter un espace */
}