html, body {
    height: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    background-color: #7f858b;
    color: white;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
    margin: 0;
}

footer {
    background-color: #7f858b;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    font-weight: bold;
    color: #ffffff;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer a {
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

footer a:hover {
    text-decoration: underline;
}
