.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

.project-item {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.project-item h3,
.project-item p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    flex: 1;
}

.delete-button {
    background-color: #ff4655;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: auto;
    transition: background-color 0.3s;
    align-self: flex-start;
}

.delete-button:hover {
    background-color: #ff1a1a;
}

.add-project-button {
    margin-top: 15px;
}

.project-title {
    margin-top: -60px;
}

@media (max-width: 767px) {
    .project-item {
        width: 300px;
        height: 200px;
    }
}

@media (min-width: 768px) {
    .project-item {
        width: 300px;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .project-item {
        width: 300px;
        height: 200px;
    }
}